<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @interest.person %>
</p>

<p>
  <strong>Course:</strong>
  <%= @interest.course %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
